:root {
    --text-color: #111;
}

html {
    color: var(--solid-color);
    font-size: 12px;
    text-align: center;
}

body {
    margin: auto;
    padding: 8px;
    max-width: 512px;
}

a {
    color: var(--solid-color);
}

td, th {
    text-align: left;
    padding-left: 4px;
    padding-right: 4px;
    border: 1px solid var(--text-color);
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: monospace;
}

ul {
    text-align: left;
}
